<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio_app/css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'portfolio_app/css/lightbox.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Luna Campos</title>
  </head>
  <body>
    <div id="mycarousel" class="carousel fade-carousel slide carousel-fade" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item slides">
            <img src="{% static "portfolio_app/images/spacelander.jpg"%}" data-color="beige" alt="Space Lander">
              <div class="headerfader">
                <div id="banner1"><span class="banner" style="color:darkseagreen; padding-right:.25em;">Luna</span><span class="banner" style="color:paleturquoise">Campos</span></div>
                <div id="banner2"><span class="banner">Full Stack Web Developer</span></div>
              </div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item slides">
            <img src="{% static "portfolio_app/images/plan.jpg"%}" data-color="firebrick" alt="Second Image">
            <div class="headerfader">
              <div id="banner3">
                <div class="rainbow">I am an auteur at the helm of creation ready to materialize.</div>
              </div>
            </div>
            <div class="carousel-caption">
                <!-- <h3>Second Image</h3> -->
            </div>
        </div>
        <div class="item slides">
            <img src="{% static "portfolio_app/images/ableton.jpg"%}" data-color="violet" alt="Third Image">
            <div class="headerfader">
              <div id="banner4"><span class="banner" style="color:white;">My passions flow with rhythm.</span></div>
            </div>
            <div class="carousel-caption">
                <!-- <h3>Third Image</h3> -->
            </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="navdiv">
      <div class="arrow" onclick="navScroller('aboutme')"></div>
    </div>
    <div id="aboutme">
      <div class="leftpane">
        <span id="aboutmeheader" class="banner">About Me</span><br>
        <div id="imageholder">
          <img src="{% static "portfolio_app/images/selfie.jpg"%}" class="img-circle" data-color="lavender" alt="Space Lander">
        </div>
      </div>
      <div id="bio">
        I am an artist with a vision to build out projects from the ground up.
        I am a self-sufficient and resourceful person so I'm not afraid to work on my own.
        However, I also am open to and value input from my peers and enjoy collaborating ideas with others.
        My recent endeavors include building out web and iOS applications and stretch to composing/producing musical ideas
        and planning out small business ventures.<br><br>
        I have taken computer science classes in college and I am a recent graduate of the acclaimed Coding Dojo Bootcamp.
        I'm currently seeking opportunities to apply my developer skills and build out challenging projects.
      </div>
    </div>
    <div id="parallaxdiv">
      <style>
        #parallaxdiv{
          background: url({% static "portfolio_app/images/lacity.png"%});
          background-size:cover;
          min-height: 35%;
        }
        #projectsdiv{
          background: linear-gradient(to top, transparent, black),
          url({% static "portfolio_app/images/space2.jpg"%});
          background-size: cover;
        }
      </style>
    </div>
    <div id="projectsdiv">
      <span class="banner" id="projectbanner">Coding Projects</span><br>
      <div id="projectthumbnails">
        <img src="{% static "portfolio_app/images/screens/lsesynth/4.png"%}" class="projectthumb" id="LSEMENU" alt="LSE Synth">
        <img src="{% static "portfolio_app/images/screens/blosm/2.png"%}" class="projectthumb" id="BLOSMMENU" alt="Blosm">
        <img src="{% static "portfolio_app/images/screens/xinxin/5.png"%}" class="projectthumb" id="XINXINMENU" alt="Xinxin Website">
        <img src="{% static "portfolio_app/images/screens/synthgiro/main.png"%}" class="projectthumb" id="GIROMENU" alt="SynthGiro">
        <img src="{% static "portfolio_app/images/screens/tasklist/3.png"%}" class="projectthumb" id="TASKLISTMENU" alt="Task List">
      </div>
      <div class="projectinfo">
        <div id="lsesynthinfo">
          <div class="projectinfoleft">
            <div class="projectinfotitle">L S E MEANSYNTH</div>
            <p class="desc" style="color:#f7BA39;">*Still in development*</p>
            <p class="desc" style="color:#d35622;">This is a synthesizer web application modeled after a vintage synthesizer from the 80s.
              The application is built using the MEAN stack and implements the Web Audio API for sound synthesis.
              Users can sign up and save their favorite patches as JSON data and call back from the database at a later time.</p>
            <p class="desc" style="color:#882d16;">Technologies used: Javascript, MongoDB, ExpressJS, AngularJS, NodeJS, JQuery, Web Audio API, HTML5/CSS3.</p>
            <p class="desc" style="color:#042f85">Live Project Here: <a href="https://github.com/lunamaecampos"style="text-decoration:none; color:white;">Coming Soon!</a></p>
            <p class="desc" style="color:white; font-weight:bold;" onclick="openModal();currentSlide(1)">Check Out Gallery Here</p>
            </p>
          </div>
        </div>
        <div id="xinxininfo">
          <div class="projectinfoleft">
            <div class="projectinfotitle">X I N X I N</div>
            <p class="desc" style="color:lightblue;">This is a website for the band XINXIN.
              It's built with RWD to allow it to scale to mobile devices.  It features a
              sign up form that sends out postData to MailChimp service.  The application
              is built using the Django framework.  The website admin can sign into a
              User dashboard and from there can create new tourdates and store them in
              Django's SQLlite database and delete them too.  The tourdates are then
              displayed on the main band website.
            </p>
            <p class="desc" style="color:skyblue;">Technologies used: Python, Django, SQLlite, Javascript, JQuery, HTML5/CSS3, RWD.</p>
            <p class="desc" style="color:moccasin;">Live Project Here: <a href="https://xinxin.com/"style="text-decoration:none; color:white;">Coming Soon!</a></p>
            <p class="desc" style="color:white; font-weight:bold;" onclick="openModal();currentSlide(12)">Check Out Gallery Here</p>
            </p>
          </div>
        </div>
        <div id="synthgyroinfo">
          <div class="projectinfoleft">
            <div class="projectinfotitle">SYNTH GIRO</div>
            <p class="desc" style="color:darkgrey">This iPhone application is built using
              the AudioKit framework for sound synthesis.  Users can play midi notes with
              the on-screen keyboard or via midi controller. There is a waveform selection
              option and modulation of delay or filters are controlled with Apple's
              CoreMotion Technology which makes for fun expressive play.
            </p>
            <p class="desc" style="color:dimgrey;">Technologies used: Swift, Xcode, AudioKit, CoreMotion, Midi.</p>
            <p class="desc" style="color:limegreen;">Live Project Here: <a href="https://apple.com/"style="text-decoration:none; color:white;">Coming Soon!</a></p>
            <p class="desc" style="color:white; font-weight:bold;" onclick="openModal();currentSlide(22)">Check Out Gallery Here</p>
            </p>
          </div>
        </div>
        <div id="taskthumbsinfo">
          <div class="projectinfoleft">
            <div class="projectinfotitle">TASK LIST</div>
            <p class="desc" style="color:gainsboro">This iPhone CRUD application is built with
              utitlizes CoreData to store user information in a SQLlite Database, which is
              retrieved, anytime the user reloads the home screen in the app.
            </p>
            <p class="desc" style="color:deepskyblue;">Technologies used: Swift, Xcode, CoreData</p>
            <p class="desc" style="color:red;">Live Project Here: <a href="https://apple.com/"style="text-decoration:none; color:white;">Coming Soon!</a></p>
            <p class="desc" style="color:white; font-weight:bold;" onclick="openModal();currentSlide(24)">Check Out Gallery Here</p>
            </p>
          </div>
        </div>
        <div id="blosminfo">
          <div class="projectinfoleft">
            <div class="projectinfotitle">B L O S M</div>
            <p class="desc" style="color:#f7BA39;">*Still in development*</p>
            <p class="desc" style="color:#555;">This is a website for a music sharing service aimed
              towards musicians seeking to collaborate.  Users can sign up and easily upload their own music.
              Media files uploaded are referenced to a separate media folder from the SQLlite database.  The
              media player is HTML/CSS/JS and utilizes the Web Audio API for playback options.
            </p>
            <p class="desc" style="color:#ff564c;">Technologies used: Python, Django, SQLlite, Javascript, JQuery, HTML5/CSS3, Web Audio API.</p>
            <p class="desc" style="color:darksalmon;">Live Project Here: <a href="https://xinxin.com/"style="text-decoration:none; color:white;">Coming Soon!</a></p>
            <p class="desc" style="color:white; font-weight:bold;" onclick="openModal();currentSlide(8)" class="pointer">Check Out Gallery Here</p>
            </p>
          </div>
        </div>
      </div>
      <div id="projectinforight">
        <div class="descthumbs" id="lsesynththumbs">
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/1.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(1)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/2.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(2)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/3.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(3)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/4.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(4)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/5.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(5)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/6.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(6)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/lsesynth/7.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(7)"></div>
        </div>
        <div class="descthumbs" id="blosmthumbs">
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/blosm/1.png"%}" class="descthumb" alt="BLOSM" onclick="openModal();currentSlide(8)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/blosm/2.png"%}" class="descthumb" alt="BLOSM" onclick="openModal();currentSlide(9)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/blosm/3.png"%}" class="descthumb" alt="BLOSM" onclick="openModal();currentSlide(10)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/blosm/4.png"%}" class="descthumb" alt="BLOSM" onclick="openModal();currentSlide(11)"></div>
        </div>
        <div class="descthumbs" id="xinxinthumbs">
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/1.png"%}" class="descthumb"alt="LSE Synth" onclick="openModal();currentSlide(12)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/2.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(13)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/3.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(14)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/4.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(15)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/5.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(16)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/6.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(17)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/xinxin/7.png"%}" class="descthumb" alt="LSE Synth" onclick="openModal();currentSlide(18)"></div>
        </div>
        <div class="descthumbs" id="synthgirothumbs">
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/synthgiro/main.png"%}" class="iosthumb" alt="Synth Giro" onclick="openModal();currentSlide(22)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/synthgiro/settings.png"%}" class="iosthumb" alt="Synth Giro" onclick="openModal();currentSlide(23)"></div>
        </div>
        <div class="descthumbs" id="taskthumbs">
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/1.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(24)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/2.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(25)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/3.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(26)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/4.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(27)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/5.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(28)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/6.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(29)"></div>
          <div class="bgdescthumb"><img src="{% static "portfolio_app/images/screens/tasklist/7.png"%}" class="iosthumb" alt="Task List" onclick="openModal();currentSlide(30)"></div>
        </div>
      </div>
    </div>
    <div id="techdiv">
      <span class="banner" id="techbanner">Technologies</span><br>
      <div class="assetrow">
        <div class="assetmenumain">
          <img class="asset" src="{% static "portfolio_app/images/python.png"%}"alt="Python Icon">
          <h1>Python</h1>
          <h4>Python</h4>
          <h4>MySQL</h4>
          <h4>Flask</h4>
          <h4>Django</h4>
          <h4>Ajax</h4>
        </div>
        <div class="assetmenumain">
          <img class="asset" src="{% static "portfolio_app/images/js.png"%}"alt="JS Icon">
          <h1>MEAN</h1>
          <h4>Javascript</h4>
          <h4>MongoDB</h4>
          <h4>Express.JS</h4>
          <h4>Angular</h4>
          <h4>Node.JS</h4>
        </div>
        <div class="assetmenumain">
          <img class="asset" src="{% static "portfolio_app/images/swift.svg"%}"alt="Swift Icon">
          <h1>iOS</h1>
          <h4>Swift</h4>
          <h4>XCode</h4>
          <h4>Core Data</h4>
          <h4>Core Motion</h4>
          <h4>AudioKit</h4>
        </div>
      </div>
      <div class="assetrow" id="assetrow1">
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/html5.png"%}"alt="HTML5 Icon">
          <h3>HTML5</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/css3.png"%}"alt="CSS3 Icon">
          <h3>CSS3</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/jquery.png"%}"alt="JQuery Icon">
          <h3>JQuery</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/bootstrap.png"%}"alt="Swift Icon">
          <h3>Bootstrap</h3>
        </div>
      </div>
      <div class="assetrow" id="assetrow2">
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/githubicon.png"%}"alt="Swift Icon">
          <h3>GitHub</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/aws.png"%}"alt="Swift Icon">
          <h3>AWS</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/rwd.png"%}"alt="Swift Icon">
          <h3>RWD</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/waapi.png"%}"alt="Python Icon">
          <h3>Web Audio</h3>
        </div>
      </div>
      <div class="assetrow" id="assetrow3">
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/live9.png"%}"alt="Ableton Icon">
          <h3>Ableton Live</h3>
        </div>
        <div class="assetmenu">
          <img class="asset" src="{% static "portfolio_app/images/kontakt.png"%}"alt="Kontakt Icon">
          <h3>NI Komplete</h3>
        </div>
        <div class="assetmenu">
          <div class="assetfix"><img class="asset" src="{% static "portfolio_app/images/uaudio.png"%}"alt="Universal Audio Icon"></div>
          <h3>Universal Audio</h3>
        </div>
        <div class="assetmenu">
          <div class="assetfix"><img class="asset" src="{% static "portfolio_app/images/arturia.png"%}"alt="Arturia Icon"></div>
          <h3>Arturia V</h3>
        </div>
      </div>
    </div>
    <div id="contactdiv">
      <div style="padding-top:1em; padding-bottom:1em;">
        <a class="resumelink" href="{% static "portfolio_app/pdf/campos-luna-resume.pdf"%}">Resume</a>
      </div>
      <div id="contactrow" style="height:auto; width:auto; margin:auto; margin-bottom:.5em;">
        <a href="mailto:lunamaecampos@gmail.com">
          <img class="contactasset" src="{% static "portfolio_app/images/mail.png"%}" data-color="lavender" alt="Mail Icon">
        </a>
        <a href="https://www.linkedin.com/in/luna-campos-a8721213b/">
          <img class="contactasset" src="{% static "portfolio_app/images/linkedin.png"%}" data-color="lavender" alt="LinkedIn Icon">
        </a>
        <a href="https://github.com/lunamaecampos">
          <img class="contactasset" src="{% static "portfolio_app/images/github.png"%}" data-color="lavender" alt="Github Icon">
        </a>
      </div>
      <div><span class="copyright">© 2017 by Luna Campos</span><div>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" style="font-size:4em; color:white;" onclick="closeModal('lseModal')">&times;</span>
      <div class="modal-content">
        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 1 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/1.png"%}">
        </div>

        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 2 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/2.png"%}">
        </div>

        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 3 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/3.png"%}">
        </div>

        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 4 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/4.png"%}">
        </div>

        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 5 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/5.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 6 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/6.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">L S E MEANSYNTH 7 / 7</div>
          <img src="{% static "portfolio_app/images/screens/lsesynth/7.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">b l o s m 1 / 4</div>
          <img src="{% static "portfolio_app/images/screens/blosm/1.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">b l o s m 2 / 4</div>
          <img src="{% static "portfolio_app/images/screens/blosm/2.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">b l o s m 3 / 4</div>
          <img src="{% static "portfolio_app/images/screens/blosm/3.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">b l o s m 4 / 4</div>
          <img src="{% static "portfolio_app/images/screens/blosm/4.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 1 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/1.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 2 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/2.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 3 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/3.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 4 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/4.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 5 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/5.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 6 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/6.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 7 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/7.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 8 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/8.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 9 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/9.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">X I N X I N 10 / 10</div>
          <img src="{% static "portfolio_app/images/screens/xinxin/10.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">SYNTH GIRO 1 / 2</div>
          <img src="{% static "portfolio_app/images/screens/synthgiro/main.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">SYNTH GIRO 2 / 2</div>
          <img src="{% static "portfolio_app/images/screens/synthgiro/settings.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 1 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/1.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 2 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/2.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 3 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/3.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 4 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/4.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 5 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/5.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 6 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/6.png"%}">
        </div>
        <div class="mySlides">
          <div class="numbertext">TASK LIST 7 / 7</div>
          <img src="{% static "portfolio_app/images/screens/tasklist/7.png"%}">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'portfolio_app/js/js.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
