*{
  font-family: "Lato", sans-serif;
}
html{
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.item {
  min-height: 100%;
  width: 100%;
  color: lavenderblush;
  text-align: center;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#div2{
  min-height: 100%;
  width: 100%;
  background-color: white;
}
#div3{
  min-height: 100%;
  width: 100%;
  background-color: black;
  text-align: right;
  padding-right: 1%;
}
.fade-carousel .carousel-inner .item .headerfader {
    opacity: 0;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s;
        -ms-transition: 1s all ease-in-out .1s;
         -o-transition: 1s all ease-in-out .1s;
            transition: 1s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .headerfader {
    opacity: 1;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s;
        -ms-transition: 1s all ease-in-out .1s;
         -o-transition: 1s all ease-in-out .1s;
            transition: 1s all ease-in-out .1s;
}
#banner1{
  padding-top: 20%;
  font-size: 9em;
  font-weight: bolder;
  text-align: center;
  /*background-color: darkgrey;*/
  padding-left: .25em;
  padding-right: .25em;
  display: none;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}
#banner2{
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  /*background-color: darkgrey;*/
  padding-left: .25em;
  padding-right: .25em;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  display: none;
}
#banner3{
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
  /*display: none;*/
}
#banner4{
  padding-top: 17%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 7em;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.banner{
  padding-top: 10%;
  padding-left: 1%;
}
.aboutme{
  font-size: 1em;
  padding-left:30%;
  padding-right: 10%;
}

/*.dot {
  height: .75em;
  width: .75em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.footer {
  left: 48%;
  width: 4em;
  position: absolute;
  bottom: 1em;
}*/
